body {
}

body > footer 
{
    width: 980px;
    margin: 50px auto;
}

body > footer p 
{
    text-align: center;
}

.hide 
{
    display: none;
}

.marginLeft10 
{
    margin-left: 10px;
}

.marginLeft20 
{
    margin-left: 20px;
}

.marginTop10 
{
    margin-top: 10px;
}

.widthAuto 
{
    width: auto;
}

#wrapper header 
{
    background: #563d7c;
    height: 150px;
    position: relative;
    overflow: hidden;
    padding-left: 20px;
    color: #fff;
}

#wrapper header #etrade_logo
{
    position: absolute;
    top: 25px;
    right: 30px;
    width: 100px;
    height: 100px;
}


#wrapper > nav 
{
    padding: 10px 0 10px 20px;
    border-bottom: 1px solid #ccc;
}

#wrapper header h1 a 
{
    color: #fff;
}

#wrapper #logo 
{
    margin-top: 65px;
}

#wrapper #container 
{
    min-height: 200px;
    padding: 30px 20px;
}

#wrapper #page-bottom 
{
    padding: 0 30px 20px;
    border-top: 1px solid #ccc;
}

#wrapper input 
{
    text-align: left;
    width: auto;
}

#products-carousel 
{
    text-align: center;
}