body {
}

section.products-index 
{
    overflow: hidden;
}

section.products-index .categories-list 
{
    list-style: none;
    clear: both;
    overflow: hidden;
}

section.products-index .categories-list li 
{
    float: left;
    padding: 20px;
    margin: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

section.products-index .categories-list img 
{
    width: 150px;
    height: 150px;
}

section.products-index .categories-list span.name 
{
    display: block;
    font-weight: bold;
}

section.products-index .categories-list span.desc
{
    display: block;
}

li.fade-category {
   background: #f5f5f5;
   display: inline-block;
   transition: background .25s ease-in-out;
   -moz-transition: background .25s ease-in-out;
   -webkit-transition: background .25s ease-in-out;
   }

li.fade-category:hover {
    background: #fff;
}

section.products-categories-show ul.products-list
{
    list-style: none;
}

section.products-categories-show ul.products-list li.product-details-wrapper
{
    display: block;
    border-bottom: 1px solid #ccc;
    padding: 15px 15px;
}

section.products-categories-show ul.products-list li.product-details-wrapper:last-child
{
    border: 0;
}

section.products-categories-show ul.products-list img.product-img
{
    display: block;
    float: left;
    border: 1px solid #ccc;
    padding: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

section.products-categories-show ul.products-list .product-info
{
    float: left;
    margin-left: 30px;
    
}

section.products-categories-show ul.products-list .product-info p 
{
    margin: 0;
}

section.products-categories-show ul.products-list .product-info span.product-name 
{
    font-weight: bold;
}

section.products-categories-show ul.products-list .product-info span.product-price
{
    color: #900;
}

section.products-categories-show ul.products-list .add-to-cart-wrapper
{
    float: right;
}

#add-to-cart-dialog .item-info-wrapper 
{
    padding: 40px 0;
}

#add-to-cart-dialog .item-info 
{
    float: left;
    padding-right: 10px;
    width: 300px;
    border-right: 1px solid #ccc;
    margin-right: 32px;
}

#add-to-cart-dialog .item-info ul 
{
    list-style: none;
    padding: 0;
    margin: 0;
}

#add-to-cart-dialog .item-pricing 
{
    float: left;
    width: 300px;
}

#add-to-cart-dialog .item-pricing ul 
{
    list-style: none;
    padding: 0;
    margin: 0;
}

#add-to-cart-dialog .item-pricing ul li.number-of-items
{
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

#add-to-cart-dialog li.number-of-items label 
{
    float: left;
    margin-right: 10px;
}

#add-to-cart-dialog li.number-of-items input 
{
    width: 100px;
}

#add-to-cart-dialog li.total-price span 
{
    margin-left: 50px;
}

#add-to-cart-dialog .dialog-footer 
{
    clear: both;
    padding-top: 40px;
}

#add-to-cart-dialog .dialog-footer a.view-my-cart 
{
    font-size: 0.85em;
    float: left;
}

#add-to-cart-dialog .dialog-footer a.view-my-cart:hover
{
    text-decoration: none;
}

#add-to-cart-dialog .dialog-footer .action 
{
    float: right;
}

#add-to-cart-dialog .dialog-footer .action .add-success-msg 
{
    float: left;
    margin: 7px 15px 0 0;
}

#add-to-cart-dialog .dialog-footer .action .out-of-stock-msg 
{
    float: left;
    margin: 7px 15px 0 0;
    color: #f55;
}

#add-to-cart-dialog .dialog-footer i.icon-warning-sign 
{
    margin-right: 4px;
}

#add-to-cart-dialog .dialog-footer .buttons-wrapper
{
    float: right;
}