body {
}

section.new-user-wrapper input[type="text"],
section.new-user-wrapper input[type="password"]
{
    width: 100% !important;
}

section.new-user-wrapper label.error 
{
    position: absolute;
    left: 400px;
    width: 100%;
    top: 6px;
    color: #f55;
    font-weight: normal;
}